*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html ,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: black;
}
#nav{
    height: 50px;
    width: 100%;
    background-color: #181818;
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 42px;
}
#nav>h5{
    color: rgb(198, 190, 190);
    cursor: pointer;
    font-size: 12px;
   font-weight: 250;

}
#nav>h4{
    color: white;
    font-size: 16px;
}
#off{
    height: 50px;
    width: 100%;
    background-color: #1d1d1f;
    display: flex;
    align-items: center;
    justify-content: center;
}
#off>h5{
    color: white;
    font-size: 14px;
    font-weight: 280;
}