@font-face {
    font-family: class;
    src: url(./fonts/Classica-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}   
.main{
    height: 100%;
    width: 100%;
    background-image: url(https://images.pexels.com/photos/733745/pexels-photo-733745.jpeg);
    background-size: cover;
    background-position: center;
    text-align: center;
}
.main h1{
    font-family: class;
    color: white;
    padding-top: 15%;
    font-size: 50px;
}
button{
    padding: 15px 25px;
    font-family: class;
    font-size: 22px;
    margin: 40px;
    font-weight: bold;
    border: none;
    background-color: chocolate;
;
    border-radius: 50px;
    border-color: 2px solid black;
    cursor: pointer;
}
button:hover{
    background-color:darkkhaki;
    color: white;
}
