*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html ,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
#nav{
    height: 50px;
    width: 100%;
    background-color: #181818;
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 42px;
}
#nav>h5{
    color: rgb(198, 190, 190);
    cursor: pointer;
    font-size: 12px;
   font-weight: 250;

}
#nav>h4{
    color: white;
    font-size: 16px;
}
#off{
    height: 50px;
    width: 100%;
    background-color: #1d1d1f;
    display: flex;
    align-items: center;
    justify-content: center;
}
#off>h5{
    color: white;
    font-size: 14px;
    font-weight: 280;
}
#hero{
    height: 77%;
    width: 100%;
    background-color: black;
    background-image: url(https://www.apple.com/in/home/heroes/nso-hero-2025/images/hero_endframe_large_2x.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}
#hero>h1{
    color: white;
    padding-top: 23%;
    font-size: 50px;
    font-weight: 550;
    padding-bottom: 10px;
}
#hero>h4{
    color: white;
    font-size: 26px;
    padding-bottom: 20px;
    font-weight: 400;
}
#hero>button{
    padding: 12px 22px;
    border-radius: 50px;
    border: none;
    background-color:#0071e3;
    color: white;
    font-size: 17px;
    cursor: pointer;
}
