*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
html ,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: bisque;
    padding: 20px;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}
.card{
    height: 300px;
    width: 250px;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
img{
    height: 100px;
    width: 100px;
    object-fit: cover;
    border-radius: 50%;    
}
.card>h2{
    font-size: 21px;
    margin-top: 15px;
}
.card>p{
    font-size: 16px;
    color: gray;
    text-align: center;
    font-weight: 600;
}
button{
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    background-color: coral;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-top: 15px;
}
button:hover{
    background-color: tomato;
}