*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html ,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color: rgb(255, 255, 255);
    font-family: Arial, Helvetica, sans-serif;
}
#nav{
    height: 50px;
    width: 100%;
    background-color: #181818;
    display: flex;
    align-items:center;
    justify-content: center;
    gap: 42px;
}
#nav>h5{
    color: rgb(198, 190, 190);
    cursor: pointer;
    font-size: 12px;
   font-weight: 250;

}
#nav>h4{
    color: white;
    font-size: 16px;
}
#off{
    height: 50px;
    width: 100%;
    background-color: #1d1d1f;
    display: flex;
    align-items: center;
    justify-content: center;
}
#off>h5{
    color: white;
    font-size: 14px;
    font-weight: 280;
}
#hero{
    height: 77%;
    width: 100%;
    background-color: black;
    background-image: url(https://www.apple.com/in/home/heroes/nso-hero-2025/images/hero_endframe_large_2x.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;
}
#hero>h1{
    color: white;
    padding-top: 23%;
    font-size: 50px;
    font-weight: 550;
    padding-bottom: 10px;
}
#hero>h4{
    color: white;
    font-size: 26px;
    padding-bottom: 20px;
    font-weight: 400;
}
#hero>button{
    padding: 12px 22px;
    border-radius: 50px;
    border: none;
    background-color:#0071e3;
    color: white;
    font-size: 17px;
    cursor: pointer;
}
#watch{
    height: 80%;
    width: 100%;
    background-color: rgb(240, 240, 240);
    background-image: url(https://www.apple.com/v/home/ci/images/logos/apple-watch-series-11/hero_logo_apple_watch_series_11__d7d7nh53wq2q_large_2x.png);
    background-repeat: no-repeat;
    background-size: 400px;
    background-position: top 70px center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
#watch>h5{
    color: rgb(31, 31, 31);
    align-items: center;
    margin-top: -290px;
    font-size: 28px;
    font-weight: 200;
    position: absolute;
}
#button1{
    padding: 12px 22px;
    border-radius: 50px;
    border: none;
    background-color:#0071e3;
    color: white;
    font-size: 17px;
    cursor: pointer;
    margin: 10px;
    margin-top: -160px;
}
#button2{
    padding: 12px 22px;
    border-radius: 50px;
    border: 1px solid #0071e3;
    background-color:transparent;
    color: #0071e3;
    font-size: 17px;
    cursor: pointer;
    margin: 10px;
    margin-top: -160px;
#images1{
    height: 400px;
    width: 400px;
    margin-left: 500px;
    margin-top: -150px;
}