*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
}
#main{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: blanchedalmond;
}
.card{
    margin: 40px;
    height: 300px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}
.bottom{
    height: 40%;
    width: 100%;
    background: linear-gradient( transparent, black);
    position: absolute;
    bottom: -40%;
    border-radius: 0 0 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;

}
.card:hover .bottom{
    bottom: 0;
    transition: all 0.5s;
}
.bottom h2{
    color: white;
    font-size: 40px;
    font-weight: 500;
}
.bottom i{
    color: white;
    padding: 10px;
    border-radius: 50%;
    font-size: 28px;
    cursor: pointer;
}