*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body{
    height: 100%;
    width: 100%;
}
main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 30% 1fr ;
    grid-template-rows: 20% 1fr 20% 20%;
    grid-template-areas:
        "header header"
        "aside section"
        "section1 section1"
        "footer footer";
    gap: 10px;
}
header{
    background-color: royalblue;
    grid-area: header;
}
aside{
    background-color: mediumpurple;
    grid-area: aside;
}
section{
    background-color: lightgreen;
    grid-area: section;
}
section1{
    background-color: orange;
    grid-area: section1;
}
footer{
    background-color: tomato;
    grid-area: footer;
}          