* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
}

/* main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 30% 1fr ;
    grid-template-rows: 20% 1fr 20% 20%;
    grid-template-areas:
        "header header"
        "aside section"
        "section1 section1"
        "footer footer";
    gap: 10px;
}
header{
    background-color: royalblue;
    grid-area: header;
}
aside{
    background-color: mediumpurple;
    grid-area: aside;
}
section{
    background-color: lightgreen;
    grid-area: section;
}
section1{
    background-color: orange;
    grid-area: section1;
}
footer{
    background-color: tomato;
    grid-area: footer;
}   */




/* main{
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 20% 1fr 1fr ;
    grid-template-areas:
        "header header header"
        "section section section"
        "div1 div2 div3";
    gap: 20px;
    
}
header{
    background-color: royalblue;
    grid-area: header;
}
section{
    background-color: lightgreen;
    grid-area: section;
}
#div1{
    background-color: rgb(173, 130, 51);
    grid-area: div1;
}
#div2{
    background-color: rgb(102, 51, 206);
    grid-area: div2;
}
#div3{
    background-color: tomato;
    grid-area: div3;
} */





main {
    height: 100%;
    width: 100%;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 80px 1fr 0.5fr 0.5fr;
    grid-template-areas:
        "header header header"
        "section section section"
        "left bottom-up right"
        "left bottom-down right";
    gap: 10px;
}

header {
    background-color: royalblue;
    grid-area: header;
}

section {
    background-color: lightgreen;
    grid-area: section;
}

#left {
    background-color: mediumpurple;
    grid-area: left;
}

#right {
    background-color: tomato;
    grid-area: right;
}

#bottom-up {
    background-color: orange;
    grid-area: bottom-up;
}

#bottom-down {
    background-color: yellow;
    grid-area: bottom-down;
}